/* DECLARATIONS */
@font-face {
  font-family: "BradleyHandITC";
  src: url(./media/BRADHITC.ttf); 
}
:root {
  --white: rgb(244, 241, 244);
}

/*GENERAL*/
html, body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 23px 50px;
  margin: 0px;
}
body {
  background-color: rgb(22, 21, 22);
  background-image: url(./media/form_temlate_3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEXT */
h1 {
  font-family: "BradleyHandITC";
  font-weight: 100;
  color: var(--white);
  font-size: 5rem;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  text-shadow: 0.1em 0.05em var(--white);
  text-align: center;
  margin-bottom: 20px;
}

/* INPUTS */
form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
  margin-bottom: 40px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
input:not([type="button"]) {
  background: transparent;
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid var(--white);
  font-size: 1rem;
}
input::placeholder {
  color: var(--white);
}

/* BUTTON */
button[type="submit"] {
  background-color: #8e618560;
  padding: 1em 7em;
  border: none;
  border-radius: 10px;
  color: var(--white);
  box-shadow: 1px 2px 6px rgba(43, 35, 43, 0.317);
}