/* DECLARATIONS */
@font-face {
  font-family: "BradleyHandITC";
  src: url(./media/BRADHITC.ttf); 
}

/*GENERAL*/
html, body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 23px 50px;
  margin: 0px;
}
body {
  background-color: rgb(22, 21, 22);
  background-image: url(./media/form_temlate_3.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* TEXT */
h1 {
  font-family: "BradleyHandITC";
  font-weight: 100;
  color: rgb(244, 241, 244);
  font-size: 5rem;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  text-shadow: 0.1em 0.05em #ffffff;
  text-align: center;
}

/* INPUTS */
form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}