/* DECLARATIONS */
@font-face {
  font-family: "BradleyHandITC";
  src: url(./media/BRADHITC.ttf); 
}
:root {
  --white: rgb(244, 241, 244);
}

/*GENERAL*/
html, body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0px;
}
body {
  background-color: rgb(22, 21, 22);
  background-image: url(./media/form_template.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
}
@media(max-width: 850px){
  body{
    background-size: cover;
  }
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: rgba(255, 182, 193, 0.14);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow:-10px -10px 10px rgba(0, 0, 0, 0.305),
  -30px -30px 0px rgba(255, 182, 193, 0.2),
  -40px -40px 10px rgba(0, 0, 0, 0.305);
  border-radius: 20px;;
  padding: 3rem 4rem;
}

/* TEXT */
h1 {
  font-family: "BradleyHandITC";
  font-weight: 100;
  color: var(--white);
  font-size: 5rem;
  position: relative;
  white-space: nowrap;
  z-index: 1;
  text-shadow: 0.1em 0.05em var(--white);
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
}

/* INPUTS */
form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16rem;
  margin-bottom: 40px;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
input:not([type="button"]) {
  background: transparent;
  padding: 0.5em;
  border: none;
  border-bottom: 2px solid var(--white);
  font-size: 1rem;
}
button, input::placeholder {
  color: var(--white);
  font-family: "source-code-variable", sans-serif;
  font-variation-settings: "wght" 400;
  line-height: 5px;
}

/* BUTTON */
button[type="submit"] {
  background-color: #8e618560;
  padding: 1em 7em;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  box-shadow: 1px 2px 6px rgba(43, 35, 43, 0.317);
}